<section id="home">
    <mat-toolbar>
        <div class="toolbar">
            <mat-icon >menu</mat-icon>
            <div>Web Dev Journey</div>
        </div>
    </mat-toolbar>
    <div class="dashboard-container">
        <div class="project" (click)="navigateTo(1)"><h2>Boss</h2><p> senior project</p></div>
        <div class="project" (click)="navigateTo(2)"><h2>Pilotta</h2><p> Under development</p>  </div>
        <div class="project" (click)="navigateTo(3)"><h2>DAS Project</h2><p> Completed school project</p></div>
        
    </div>
</section>